<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ritwikscompany.treasurehunt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TreasureHunt"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.MyGroupsActivity"></activity>
        <activity android:name=".ui.JoinGroupActivity" />
        <activity android:name=".ui.CreateGroupActivity" />
        <activity android:name=".ui.EditChallengeActivity" />
        <activity android:name=".ui.CreateChallengeActivity" />
        <activity android:name=".ui.MapsActivity" />
        <activity android:name=".ui.MyChallengesActivity" />
        <activity android:name=".ui.PickChallengeActivity" />
        <activity android:name=".ui.GroupsActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.SignUpActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>